@charset "utf-8";

body{
/*background-image:url(n1.jpg); */
background-attachment:fixed;
font-family:calibri;
}
a{
color:#cfeef0;
text-decoration:none;
}

h1,ul{
margin:0;
padding:0;
}

.clear{
	clear:both;
}
#wrap{

	
	width:940px;
	height:auto;;
	padding:10px;
	margin:0 auto;  
	background:#b7a379;
  	/*border:1px dotted black;*/

}

#header{
	width:940px;
	height:60px;
	margin-bottom:10px;
	background:grey;
	background-image:url(banner.jpg);
}
#aheader{
	width:940px;
	height:60px;
	margin-bottom:10px;
	background:grey;
	background-image:url(abanner.jpg);
}

#gheader{
	width:940px;
	height:60px;
	margin-bottom:10px;
	background:grey;
	background-image:url(gbanner.jpg);
}
#dheader{
	width:940px;
	height:60px;
	margin-bottom:10px;
	background:grey;
	background-image:url(dbanner.jpg);
}
#pheader{
	width:940px;
	height:60px;
	margin-bottom:10px;
	background:grey;
	background-image:url(pbanner.jpg);
}
#fheader{
	width:940px;
	height:60px;
	margin-bottom:10px;
	background:grey;
	background-image:url(fbanner.jpg);
}
#theader{
	width:940px;
	height:60px;
	margin-bottom:10px;
	background:grey;
	background-image:url(tbanner.jpg);
}

#vheader{
	width:940px;
	height:60px;
	margin-bottom:10px;
	background:grey;
	background-image:url(vbanner.jpg);
}

#bookheader{
	width:940px;
	height:60px;
	margin-bottom:10px;
	background:grey;
	background-image:url(bookbanner.jpg);
}
#regheader{
	width:940px;
	height:60px;
	margin-bottom:10px;
	background:grey;
	background-image:url(regbanner.jpg);
}
#payheader{
	width:940px;
	height:60px;
	margin-bottom:10px;
	background:grey;
	background-image:url(paybanner.jpg);
}

#downheader{
	width:940px;
	height:60px;
	margin-bottom:10px;
	background:grey;
	background-image:url(downbanner.jpg);
}
#lessheader{
	width:940px;
	height:60px;
	margin-bottom:10px;
	background:grey;
	background-image:url(lesbanner.jpg);
}

#logo{

	width:185px;
	height:60px;
		/*border:1px solid black;*/
}

#type{
	height:60px;
	width:594px;
	/*border-right:1px solid black;
	border-left:1px solid black;
	border:1px solid black;*/
}
#contact{
    height:60px;
	width:160px;
	
	/*border:1px solid black;*/
}
.hh{
	float:left;
}

#menu ul{
background-image:url(na.png);
list-style:none;
 height:30px;
 margin-bottom:10px;
 border-bottom:1px solid black;
}

#menu ul li{

	float:left;
	 /* position:relative; */
}

#menu li ul li{
	float:none;
	border-top:1px solid black;
	background-image:url(na.png);
}
#menu li ul{
position:absolute;
visibility:hidden;

}

#menu li:hover ul{

visibility:visible;
}

#menu ul li a{
	text-decoration:none;
	display:block;
	/*background:white;*/
	color:black;
	padding:0 25px;
	line-height:30px;
	background-image:url(line.png);  background-repeat:no-repeat;
}

#menu ul li a:hover, #menu ul li a.selected {
	background:#6a6d70;
	color:white;
}


#main{
	
	background:grey;
	width:940px;
	height:770px;
	padding:0px;
	  

}

#footer{
	
	margin-top:10px;
	height:90px;
	color:#bdd6e3;
	font-family:verdana;
}

#side1{
	
	
	width:165px;
	height:750px;
	margin:10px;
}
#inside1{
	
	width:145px;
	height:280px;
	margin:10px;
	border-radius:10px;
	background:#b7a379;
}
#inside3{
	
	width:145px;
	height:280px;
	margin:10px;
	border-radius:10px;
}
#follow{
	
	width:145px;
	height:150px;
	margin:10px;
	border-radius:10px;
	background:#b7a379;
}

#contents{
	/*display:table; */	
    background:white;
	width:550px;
	height:750px;
	
	margin:10px;
	
}

#side2{
		
	width:165px;
	height:750px;
	margin:10px;
	
}
#joinus{
	background:#b7a379;	
	width:145px;
	height:50px;
	margin:10px;
	margin-top:50px;
	border-radius:10px;
	
}

#login{
	background:#c5ab97;	
	width:145px;
	height:250px;
	margin-left:10px;
	margin-right:10px;
	margin-top:200px;
	border-radius:10px;
	
}

.fl{
	float:left;
}

#dealership{
	
	background:blue;
	width:145px;
	height:280px;
	margin-right:10px;
	margin-left:10px;
	margin-top:40px;
}
#sellers{
	
	background:blue;
	width:145px;
	height:280px;
	margin-right:10px;
	margin-left:10px;
	margin-top:50px;
}
#sale{
		
	background:blue;
	width:145px;
	height:250px;
	margin-left:10px;
	margin-right:10px;
	margin-top:200px;
	
}
#display{
	/*display:table;*/
    background:white;
	width:735px;
	height:750px;
	
	margin:10px;
	
}
td {
	font-size:28px;
}
input[type="password"]
{
	height:30px;
}
input[type="text"]
{
	height:30px;
}
input[type="submit"]
{
	height:30px;
	width:100px;
}
select {
	height:30px;
	width:100px;
}
input[type="file"]
{
	height:30px;
}
#contents1{
	/*display:table; */	
    background-image:url(admin.jpg);
	width:550px;
	height:750px;
	
	margin:10px;
	
}